.results {
    width: 100%;
}

.results-page {
    height: 100%;
    width: 100%;
}
.results-header {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 0px;
}

.steps-container {
    max-height: calc(100% - 150px);
    overflow-y: auto;
    position: relative;
}

.steps-row {
    width: 100%;
}

.steps-content {
    width: 100%;
    display: flex;
}

.steps-instruction {
    width: 300px;
    padding-top: 25px;
    padding-left: 100px;
    box-sizing: border-box;
    font-weight: bold;
    height: 75px;
    font-size: 1em;
    text-align: left;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.steps-popularity {
    width: calc(100% - 300px);
    min-width: 500px;
    display: flex;
    background: hsl(35, 21%, 89%);
}

.label-block {
    height: 100%;
    width: 100%;
    font-size: 0.8em;
}

.popularity-block {
    height: 100%;
    width: 100%;
    transform: all 0.25s ease-in-out;
    cursor: pointer;
}
.popularity-block:hover {
    box-shadow: inset 0px 0px 0 2px gray;
}

.label-container {
    width: 100%;
    padding-left: 300px;
    /* padding-bottom: 3px; */
    height: 20px;
    border-bottom: 1px solid hsla(0, 0%, 85%, 1);
    display: flex;
    box-sizing: border-box;
    background: rgb(243, 241, 235);
}

.label-block:nth-child(odd) {
    background: rgba(0, 0, 0, 0.075);
}

.time-pointer {
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0px;
    animation: pulse 3s ease-in-out infinite;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.step-bullet {
    height: 15px;
    width: 15px;
    background: white;
    border: 3px black solid;
    border-radius: 50%;
    position: absolute;
    left: 60px;
}

.top-segment {
    width: 6px;
    height: 50%;
    position: absolute;
    left: 67px;
    top: 0px;
    background: black;
}
.bottom-segment {
    width: 6px;
    height: 50%;
    position: absolute;
    left: 67px;
    top: 50%;
    background: black;
}

.step-travel-mode {
    display: flex;
    padding-left: 30px;
}

.step-travel-mode-container {
    position: absolute;
    height: calc(100% - 10px);
    width: 300px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.75em;
}
.step-travel-mode-label {
    padding-left: 60px;
}

.tabs-container {
    width: 300px;
    display: flex;
    position: absolute;
}

.tab {
    cursor: pointer;
    width: 50px;
    height: calc(20px - 2px);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 0px solid transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: all 0.15s linear;
}

.tab.dow {
    width: 125px;
    font-size: 0.8em;
    padding: 0px 5px;
}

.tab:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.2);
}

.tab.active {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgb(239, 235, 233);
}

@keyframes pulse {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: transparent;
    }
}

.legend-shell {
    width: 300px;
    position: absolute;
    left: 30px;
}

.back-button {
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
    transition: all 0.15s linear;
}

.back-button:hover {
    background: rgba(0, 0, 0, 0.15);
}
